.bordato {
  border: 1px lightseagreen solid;
}

.bordatoSotto {
  border: 1px lightseagreen solid;
  padding: 20px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
