#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.bordato {
  border: 1px lightseagreen solid;
}

.bordatoSotto {
  border: 1px lightseagreen solid;
  padding: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

a {
  text-decoration: none;
  color: inherit;
}
