<div class="row">
  <section class="main">
    <form class="form-group search" method="post" action="index.html" (keyup)="ottieni($event,searchInput)" autocomplete="off">
      <input #searchInput type="text" name="name" [(ngModel)]="query" title="name">
      <ul class="results" >
        <li *ngFor="let x of films">
          <a [routerLink]="['/movie', {id: x.id}]">
            {{x.title}}  <span class="rating_bar">
            <span [style.width.%]="x.vote_average*10"></span></span>
          </a>
        </li>
      </ul>
    </form>
  </section>
</div>


