<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="background: teal; padding: 20px; border-radius: 10px 10px 10px 10px">
      <form class="form-group">
        <label>Cerca...</label>
        <input type="text" class="form-control" id="name" name="name" >
        <div style="padding-top: 20px">
          <button type="submit" class="btn btn-danger btn-block">Clicca</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="height: 20px"></div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding: 20px; border: 2px lightblue solid; text-align: center" >

      {{films.backdrop_path }}


    </div>
  </div>
</div>
